@page "/"

<PageTitle>Index</PageTitle>

<div class="card bg-info">
    <div class="card-body">
        <h1>Приветствуем вас на нашем сайте!</h1>
        <p>Здесь вы можете увидеть список продуктов.</p>
    </div>
</div>
